{% extends 'base.html' %} {% block content %}



<div class="container-md">

    <div class="abs-center">
        <form action="/registrarProduct" method="POST" enctype="multipart/form-data">
            <br>
            <div class="col-md-8">
                <h2 class="Display-2">Agregar Producto</h2>
            </div>
            <hr>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lbnombreProducto">Nombre Producto :</label>
                <div class="col-md-6">
                    <input id="nombreProducto" name="nombre" type="text" placeholder="Nombre Producto" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lbreferencia">Referencia Producto: </label>
                <div class="col-md-6">
                    <input id="referenciaProducto" name="referencia" type="text" placeholder="Ref. Producto" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lbmarca">Marca del Producto: </label>
                <div class="col-md-6">
                    <input id="marcaProducto" name="marca" type="text" placeholder="Marca Producto" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="precio">Precio del Producto: </label>
                <div class="col-md-6">
                    <input id="precioProducto" name="precio" type="text" placeholder="Precio Producto" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lbcantidad">Cantidad Producto: </label>
                <div class="col-md-6">
                    <input id="cantidadProducto" name="cantidad" type="number" placeholder="Cantidad" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <div class="col-md-4">
                    <label for="subirImagenProducto">Subir imagen producto</label>
                    <input name="imagen" type="file" class="form-control-file" id="subirImagenProducto">
                </div>

            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" required for="estadoProducto">Estado Producto:</label>
                <div class="col-md-4">
                    <div class="radio">
                        <label for="estadoProducto-0">
        <input type="radio" name="estadoProducto" id="estadoProducto-0" value="1">
        Activo
      </label>
                    </div>
                    <div class="radio">
                        <label for="estadoProducto-1">
        <input type="radio" name="estadoProducto" id="estadoProducto-1" value="2">
        Inactivo
      </label>
                    </div>
                </div>
            </div>

            <input class="btn btn-success" type="submit" value="Registrar">
        </form>
    </div>
</div>

{% endblock %}