{% extends 'base.html' %} {% block content %}

<div class="container-md">
    <div class="abs-center">
        <form action="/registrarUser" method="POST">
            <br>
            <div class="col-md-8">
                <h2>Gestión de Usuarios</h2>
            </div>
            <hr>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nombre">Nombres:</label>
                <div class="col-md-6">
                    <input id="nombres" name="nombres" type="text" placeholder="Ingrese Nombres" maxlength="50" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nombre">Apellido:</label>
                <div class="col-md-6">
                    <input id="nombres" name="apellidos" type="text" placeholder="Ingrese Apellidos" maxlength="50" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="usuario">Usuario:</label>
                <div class="col-md-6">
                    <input id="usuario" name="usuario" type="text" placeholder="Ingrese Usuario" maxlength="25" class="form-control input-md" required>

                </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="apellido">Contraseña:</label>
                <div class="col-md-6">
                    <input id="contrasena" name="contrasena" type="password" placeholder="Ingrese Contraseña" minlength="8" maxlength="11" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cedula">Identificacion:</label>
                <div class="col-md-6">
                    <input id="cedula" name="cedula" type="text" placeholder="No. Identificacion" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fechaNacimiento">Fecha Nacimiento:</label>
                <div class="col-md-6">
                    <input id="fechaNacimiento" name="fechaNacimiento" type="date" placeholder="dd/mm/aaaa" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="correo">Email:</label>
                <div class="col-md-6">
                    <input id="email" name="email" type="email" placeholder="Ingrese Email" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="direccion">Direccion: </label>
                <div class="col-md-6">
                    <input id="direccion" name="direccion" type="text" placeholder="Ingrese Direccion" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="telefono">Celular:</label>
                <div class="col-md-6">
                    <input id="celular" name="celular" type="text" placeholder="Ingrese Celular" class="form-control input-md" required>

                </div>
            </div>

            <!-- Multiple Radios -->
            <div class="form-group">
                <label class="col-md-4 control-label" required for="tipoUsuario">Tipo Perfil:</label>
                <div class="col-md-4">
                    <div class="radio">
                        <label for="tipoUsuario-0">
        <input type="radio" name="tipoUsuario" id="tipoUsuario-0" value="1">
        Administrador
      </label>
                    </div>
                    <div class="radio">
                        <label for="tipoUsuario-1">
        <input type="radio" name="tipoUsuario" id="tipoUsuario-1" value="2">
        Usuario
      </label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" required for="estadoUsuario">Estado Usuario:</label>
                <div class="col-md-4">
                    <div class="radio">
                        <label for="estadoUsuario-0">
        <input type="radio" name="estadoUsuario" id="estadoUsuario-0" value="1">
        Activo
      </label>
                    </div>
                    <div class="radio">
                        <label for="estadoUsuario-1">
        <input type="radio" name="estadoUsuario" id="estadoUsuario-1" value="2">
        Inactivo
      </label>
                    </div>
                </div>
            </div>
            <input class="btn btn-success" type="submit" value="Registrar">

        </form>
    </div>
</div>

{% endblock %}