{% extends 'base.html' %} {% block content %}



<div class="container">
    <br>
    <div class="col-md-8">
        <h2>Gestión de Productos</h2>
    </div>
    <hr>
    <a class="btn btn-success" href="/addProduct">Agregar Producto</a>
    <hr>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Referencia</th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products%}
            <tr>
                <td>
                    {% if product.imagen %}
                    <img src="{{ url_for('static',filename='imgProduct/'+product.imagen )}}" width="200px" height="200px" alt=""></td>

                {% endif %} {% if product.imagen == None %}
                <img class="mb-4" src="{{ url_for('static',filename='img/PLOGOb.png')}}" alt="" width="200" height="200"> {% endif %}
                <td>{{ product.id }}</td>
                <td>{{ product.referencia }}</td>
                <td>{{ product.nombre }}</td>
                <td>{{ product.marca}}</td>
                <td>{{ product.cantidad}}</td>
                {% if product.estado == '1' %}
                <td>Activo</td>
                {% endif %} {% if product.estado == '2' %}
                <td>Inactivo</td>
                {% endif %}
                <td>
                    {% if product.estado != '2' %}
                    <a href="/deleteProduct/{{product.id}}" class="btn btn-danger">Eliminar</a> {% endif %}

                    <a href="/updateProduct/{{product.id}}" class="btn btn-primary">Modificar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}