{% extends 'base.html' %} {% block content %}

<div class="container">
    <br>
    <div class="col-md-8">
        <h2>Gestión de Usuarios</h2>
    </div>
    <hr>
    <a class="btn btn-success" href="/addUser">Agregar Usuario</a>
    <hr>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.nombres }}</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td></td>
                <td>
                    <button id="crear()" name="crear()" class="btn btn-danger">Eliminar</button>
                    <button id="modificar()" name="modificar()" class="btn btn-primary">Modificar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}