{% extends 'base.html' %} {% block content %}

<div class="container">
    <br>
    <div class="col-md-8">
        <h2>Gestión de Usuarios</h2>
    </div>
    <hr>
    <a class="btn btn-success" href="/addUser">Agregar Usuario</a>
    <hr>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombres</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Identificacion</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Email</th>
                <th scope="col">Direccion</th>
                <th scope="col">Celular</th>
                <th scope="col">Tipo</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nombres }}</td>
                <td>{{ user.usuario }}</td>
                <td>{{ user.contrasena }}</td>
                <td>{{ user.identificacion }}</td>
                <td>{{ user.fechaNacimiento.strftime('%Y-%m-%d') }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.direccion }}</td>
                <td>{{ user.celular }}</td>

                {% if user.tipo == '1' %}
                <td>Administrador</td>
                {% endif %} {% if user.tipo == '2' %}
                <td>Normal</td>
                {% endif %}
                <td>
                    <a href="/deleteUser/{{user.id}}" class="btn btn-danger">Eliminar</a>
                    <a href="/updateUser/{{user.id}}" class="btn btn-primary">Modificar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}