{% extends 'base.html' %} {% block content %}

<!--Comportamiento Responsive de las IMAGENES del carousel-->
<style>
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>

<!--CARROUSEL NOTICIAS-->
<div id="carouselHome" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
        <li data-target="#carouselHome" data-slide-to="1"></li>
        <li data-target="#carouselHome" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="height: 400px;">
        <div class="carousel-item active" style="height: 400px;">
            <img src="{{ url_for('static',filename='img/1.jpg')}}" class="d-block w-100" alt="..." style="height: 400px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Product +</h5>
                <p>La plataforma que te permite contar con tus productos a la mano.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static',filename='img/2.jpg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Inventario</h5>
                <p>¿Cansado de no poseer un inventario completo de sus productos? Product + es tu solución</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static',filename='img/3.jpg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Innovacion</h5>
                <p>Tu empresa con tecnología al ritmo de tus necesidades.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for product in products%}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ url_for('static',filename='imgProduct/'+product.imagen )}}" height="300px" alt=""></td>
                    <div class="card-body">
                        <h2>{{ product.nombre }}</h2>
                        <p class="card-text">
                            Cantidad: {{ product.cantidad }}
                            <br> Precio: {{ product.precio }}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if g.user.tipo == '1' %} {% if product.estado != '2' %}
                                <a href="/deleteProduct/{{product.id}}" class="btn btn-danger">Eliminar</a> {% endif %}
                                <a href="/updateProduct/{{product.id}}" class="btn btn-primary">Modificar</a> {% endif %} {% if g.user.tipo == '2' %}
                                <a href="/updateUProduct/{{product.id}}" class="btn btn-primary">Modificar</a> {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.carousel').carousel()

    // Enable Carousel Indicators
    $(".item").click(function() {
        $("carouselHome").carousel(1);
    });

    // Enable Carousel Controls
    $(".carousel-control-prev").click(function() {
        $("carouselHome").carousel("prev");
    });

    $(".carousel-control-next").click(function() {
        $("carouselHome").carousel("next");
    });
</script>

{% endblock %}