{% extends 'base.html' %} {% block content %}

<div class="container-md">
    <div class="abs-center">
        <form action="/updateUser/{{ user.id }}" method="POST">
            <br>
            <div class="col-md-8">
                <h2>Actualizar Usuario</h2>
            </div>
            <hr>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nombre">Nombres:</label>
                <div class="col-md-6">
                    <input value="{{user.nombres}}" id="nombres" name="nombres" type="text" placeholder="Ingrese Nombres" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="usuario">Usuario:</label>
                <div class="col-md-6">
                    <input value="{{user.usuario}}" id="usuario" name="usuario" type="text" placeholder="Ingrese Usuario" class="form-control input-md" required>

                </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="apellido">Contraseña:</label>
                <div class="col-md-6">
                    <input value="{{user.contrasena}}" id="contrasena" name="contrasena" type="password" placeholder="Ingrese Contraseña" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cedula">Identificacion:</label>
                <div class="col-md-6">
                    <input value="{{user.identificacion}}" id="cedula" name="cedula" type="text" placeholder="No. Identificacion" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fechaNacimiento">Fecha Nacimiento:</label>
                <div class="col-md-6">
                    <input value="{{user.fechaNacimiento.strftime('%Y-%m-%d')}}" id="fechaNacimiento" name="fechaNacimiento" type="date" placeholder="dd/mm/aaaa" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="correo">Email:</label>
                <div class="col-md-6">
                    <input value="{{user.email}}" id="email" name="email" type="email" placeholder="Ingrese Email" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="direccion">Direccion: </label>
                <div class="col-md-6">
                    <input value="{{user.direccion}}" id="direccion" name="direccion" type="text" placeholder="Ingrese Direccion" class="form-control input-md" required>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="telefono">Celular:</label>
                <div class="col-md-6">
                    <input value="{{user.celular}}" id="celular" name="celular" type="text" placeholder="Ingrese Celular" class="form-control input-md" required>

                </div>
            </div>

            <!-- Multiple Radios -->
            <div class="form-group">
                <label class="col-md-4 control-label" required for="tipoUsuario">Tipo Perfil:</label>
                <div class="col-md-4">
                    <div class="radio">
                        <label for="tipoUsuario-0">
        <input type="radio" name="tipoUsuario" id="tipoUsuario-0" {% if user.tipo == '1' %}
        checked
        {% endif %} value="1">
        Administrador
      </label>
                    </div>
                    <div class="radio">
                        <label for="tipoUsuario-1">
        <input type="radio" name="tipoUsuario" id="tipoUsuario-1" {% if user.tipo == '2' %}
        checked
        {% endif %} value="2">
        Usuario
      </label>
                    </div>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Actualizar">

        </form>
    </div>
</div>

{% endblock %}