{% extends 'base.html' %} {% block content %}



<div class="container-md">

    <div class="abs-center">
        <form action="/updateProduct/{{ product.id }}" method="POST" enctype="multipart/form-data">
            <br>
            <div class="col-md-8">
                <h2 class="Display-2">Actualizar Producto: {{ product.nombre}}</h2>
            </div>
            <hr>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lbnombreProducto">Nombre Producto :</label>
                <div class="col-md-6">
                    <input value="{{ product.nombre}}" id="nombreProducto" name="nombre" type="text" placeholder="Nombre Producto" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lbreferencia">Referencia Producto: </label>
                <div class="col-md-6">
                    <input value="{{ product.referencia}}" id="referenciaProducto" name="referencia" type="text" placeholder="Ref. Producto" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lbmarca">Marca del Producto: </label>
                <div class="col-md-6">
                    <input value="{{ product.marca}}" id="marcaProducto" name="marca" type="text" placeholder="Marca Producto" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lbprecio">Precio del Producto: </label>
                <div class="col-md-6">
                    <input value="{{ product.precio}}" id="lpprecio" name="precio" type="text" placeholder="Marca Producto" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lbcantidad">Cantidad Producto: </label>
                <div class="col-md-6">
                    <input value="{{ product.cantidad}}" id="cantidadProducto" name="cantidad" type="number" placeholder="Cantidad" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <div class="col-md-4">
                    <label for="subirImagenProducto">Subir imagen producto</label>
                    <input type="file" name="imagen" class="form-control-file" id="subirImagenProducto">
                </div>

            </div>

            <!-- Multiple Radios -->
            <div class="form-group">
                <label class="col-md-4 control-label" required for="estadoProducto">Estado Producto:</label>
                <div class="col-md-4">
                    <div class="radio">
                        <label for="estadoProducto-0">
        <input type="radio" name="estadoProducto" id="estadoProducto-0" {% if product.estado == '1' %}
        checked
        {% endif %} value="1">
        Activo
      </label>
                    </div>
                    <div class="radio">
                        <label for="estadoProducto-1">
        <input type="radio" name="estadoProducto" id="estadoProducto-1" {% if product.estado == '2' %}
        checked
        {% endif %} value="2">
        Inactivo
      </label>
                    </div>
                </div>
            </div>

            <input class="btn btn-primary" type="submit" value="Actualizar">
        </form>
    </div>
</div>

{% endblock %}